body{
    text-align: center;
    align-content: center;
}

#link-Work {
    text-decoration-style: none;
}

.wrapper{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1em;
    
}

.wrapper > div {
    padding: 1em;
}
